<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Enlaces</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

      <style type="text/css">
  .select-editable {
       position:relative;
       background-color:white;
       border:solid grey 1px;
       width:200px;
       height:18px;
   }
   .select-editable select {
       position:absolute;
       top:0px;
       left:0px;
       font-size:14px;
       border:none;
       width:200px;
       margin:0;
   }
   .select-editable input {
       position:absolute;
       top:0px;
       left:0px;
       width:180px;
       padding:1px;
       font-size:12px;
       border:none;
   }
   .select-editable select:focus, .select-editable input:focus {
       outline:none;
   }
   </style>

    <script type="text/javascript">

      window.onload = function() {
        //document.getElementById("title").focus();
      };
      //
      function selecciona(id_enlace_e, enlace_e, titulo_e, id_categoria_e, id_usuario_e) {

        document.getElementById("id_enlace_e").value = id_enlace_e;
        document.getElementById("enlace_e").value = enlace_e;
        document.getElementById("titulo_e").value = titulo_e;
        document.getElementById("id_categoria_e").value = id_categoria_e;
        document.getElementById("id_usuario_e").value = id_usuario_e;

        recuperaCategorias(id_categoria_e);

        return true;
      }


      /* ------------------------------------------------------------
      * Recupera una categoría por nivel, para un, dos o tres niveles
      *
      */
    		function recuperaCategorias(idCategoria) {
    			var objDato = {};
    			var xhttp = new XMLHttpRequest();
    			xhttp.onreadystatechange = function() {
      			if (this.readyState == 4 && this.status == 200) {
    					objDato = JSON.parse(this.responseText);
    					if (objDato.categorias1N != undefined) {
                creaDD(objDato.categorias1N, "Tipo1N", false);
              } else {
                document.getElementById("Tipo1N").length = 0;
                document.getElementById("tTipo1N").value = "";
              }
    					if (objDato.categorias2N != undefined) {
                creaDD(objDato.categorias2N, "Tipo2N", false);
              } else {
                document.getElementById("Tipo2N").length = 0;
                document.getElementById("tTipo2N").value = "";
              }
    					if (objDato.categorias3N != undefined) {
                creaDD(objDato.categorias3N, "Tipo3N", false);
              } else {
                document.getElementById("Tipo3N").length = 0;
                document.getElementById("tTipo3N").value = "";
              }
    				}
    			}
          var url = "/enlaces/idcat/" + idCategoria;
    			xhttp.open("GET", url, true);
    			xhttp.send();
    		}
        ///////////////////////////////////////////////////////////////////////
        function recuperaCategoriasSiguientes(idCategoria, nivel) {
          var objDato = {};
    			var xhttp = new XMLHttpRequest();
    			xhttp.onreadystatechange = function() {
      			if (this.readyState == 4 && this.status == 200) {
    					objDato = JSON.parse(this.responseText);
              switch(nivel) {
            	case 1:
          			creaDD(objDato, "Tipo1N", true);
                break;
            	case 2:
          			creaDD(objDato, "Tipo2N", true);
                break;
          		case 3:
          			creaDD(objDato, "Tipo3N", true);
          			break;
          		}
    				}
    			}
          var url = "/enlaces/idcatsig/" + idCategoria;
    			xhttp.open("GET", url, true);
    			xhttp.send();
    		}
        ///////////////////////////////////////////////////////////////////////
        function expandeCategoria(idCategoria, nivel) {
          if (idCategoria == null) {
            var error = "Err: [expandeCategoria] idCategoria es null";
            console.log(error);
            return;
          }
    			var objDato = {};
    			var xhttp = new XMLHttpRequest();
    			xhttp.onreadystatechange = function() {
      			if (this.readyState == 4 && this.status == 200) {
    					objDato = JSON.parse(this.responseText);
              switch(nivel) {
            	case 1:
          			creaDD(objDato, "Tipo1N", true);
                vaciaDD(["Tipo2N","Tipo3N"]);
                break;
            	case 2:
          			creaDD(objDato, "Tipo2N", true);
                vaciaDD(["Tipo3N"])
                break;
          		case 3:
          			creaDD(objDato, "Tipo3N", true);
          			break;
          		}
    				}
    			}
          var url = "/enlaces/idcatex/" + idCategoria;
    			xhttp.open("GET", url, true);
    			xhttp.send();
    		}
        ////////////////////////////////////////////////////////////
    		function creaDD(dato, iSelector, blanco) {
          var dd = document.getElementById(iSelector);  // dropdown
          dd.length = 0;
          if (blanco==true) {
            //option = document.createElement('option');
            //dd.add(option);
            document.getElementById("t" + iSelector).value = "";
          }
          var i;
          for (i = 0; i < dato.length; i++) {
            option = document.createElement('option');
            option.value = dato[i].id_categoria_c;
    				option.text = dato[i].titulo_c;
            dd.add(option);
          }

          dd.selectedIndex = 0;

          if (i==0) {
              document.getElementById("t" + iSelector).value = "";
          } else {
              document.getElementById("t" + iSelector).value = tomaSeleccion(iSelector);
          }
          if (blanco == true) {
            //option = document.createElement('option');
            //dd.add(option);
            document.getElementById("t" + iSelector).value = "";
          }
        }
        /////////////////////////////////////////////////////////////////////
        function vaciaDD(dds) {
          for (var i = 0;i < dds.length;i++) {
            document.getElementById(dds[i]).options.length = 0;
            document.getElementById("t" + dds[i]).value = "";
          }
        }
        /////////////////////////////////////////////////////////////////////
        function seleccionaAction(idForm, valor) {
          if (parseInt(valor) > 0) {
            document.getElementById(idForm).action = "/enlaces/upd";
            respuesta = true;
          } else {
            document.getElementById(idForm).action = "/enlaces/add";
            respuesta = true;
          }
          return respuesta;
        }

        function tomaSeleccion(idDD) {
          var elem = document.getElementById(idDD);
          var valor = elem.options[elem.selectedIndex].value;
          var texto = elem.options[elem.selectedIndex].text;
          return texto;
        }

    </script>
  </head>

  <body>

    <nav class="navbar navbar-dark bg-dark">
      <a href="#" class="navbar-brand mx-auto">Enlaces</a>
    </nav>

    <div class="container">
      <div class="row">
        <div class="col mt-2">
          <table class="table table-striped">
            <tr>
              <th style="display: none">Id</th><th>Link</th><th>Title</th>
              <th style="display: none">Cat</th><th style="display: none">Usu</th>
            </tr>
            <% for(var i = 0; i < enlaces.length; i++) { %>
              <tr onclick="selecciona('<%= enlaces[i].id_enlace_e %>', '<%= enlaces[i].enlace_e %>',
                    '<%= enlaces[i].titulo_e %>', '<%= enlaces[i].id_categoria_e %>', '<%= enlaces[i].id_usuario_e %>')">
                    <td style="display: none"><%= enlaces[i].id_enlace_e %></td>
                    <td><%= enlaces[i].enlace_e %></td>
                    <td><%= enlaces[i].titulo_e %></td>
                    <td style="display: none"><%= enlaces[i].id_categoria_e %></td>
                    <td style="display: none"><%= enlaces[i].id_usuario_e %></td>
              </tr>
            <% } %>
          </table>
        </div> <!-- 1 col   Table end -->

        <div class="col mt-2">      <!-- 2 col   Ini Formulario -->
          <form method="get" id="idFormEnlaces" class="form-control">
            <h5 id="tituloOperacion" class="text-right">Add a link</h5>
            <input type="hidden" name="id_enlace_e" id="id_enlace_e" class="form-control" readonly>
            <div class="form-group">
              <label for="enlace_e">Link</label>
              <input type="text" name="enlace_e" id="enlace_e" class="form-control" placeholder="e.g. http://www.site.dom">
              <small id="linkHelp" class="form-text text-muted">You should include a protocol (http://, https://,)</small>
            </div>
            <div class="form-group">
              <label for="titulo_e">Title/Description</label>
              <input type="text" name="titulo_e" id="titulo_e" class="form-control">
              <small id="tituloHelp" class="form-text text-muted">Title or descriptive text</small>
            </div>
            <div>  
              <input type="hidden" name="id_usuario_e" id="id_usuario_e">
              <input type="hidden" name="id_categoria_e" id="id_categoria_e">
              <input type="hidden" name="id_categoria_c" id="id_categoria_c">
              <input type="hidden" name="titulo_c" id="titulo_c">
              <input type="hidden" name="nivel_c" id="nivel_c">
              <input type="hidden" name="prede_c" id="prede_c">
            </div>
          </form>
          <form id="idFormCategorias">
              <label>Tree of Categories</label>
              <!-- Select para cargar categorias nivel 1 -->
              <div class="row mt-1 border-bottom">
                <div class="col-sm-6">
                  <div id="div1N" class="select-editable">
            		      <select id="Tipo1N" name="Tipo1N"
                      onchange="{this.nextElementSibling.value = tomaSeleccion('Tipo1N');
                                recuperaCategoriasSiguientes(this.value, 2)}">
                        <option></option>
            		      </select>
                      <input type="text" name="tTipo1N" id="tTipo1N" value="">
            	    </div>
                </div>
                <div class="col-sm-1">
                  <span>*</span>
                </div>
                <div class="col-sm-5">
                  <button type="button" onclick="expandeCategoria(document.getElementById('Tipo1N').value, 1)"
                    class="btn btn-primary btn-sm">Expand</button>
                  <button type="button" class="btn btn-primary btn-sm">Add</button>
                  <button type="button" class="btn btn-primary btn-sm">Update</button>
                </div>
              </div>
              <!-- Select para cargar categorias nivel 2 -->
              <div class="row mt-1 border-bottom ">
                <div class="col-sm-6">
            	    <div id="divDD2N" class="select-editable">
            		       <select  id="Tipo2N" name="Tipo2N"
                       onchange="{this.nextElementSibling.value = tomaSeleccion('Tipo2N');
                                 recuperaCategoriasSiguientes(this.value, 3)}">
                         <option></option>
                       </select>
                       <input type="text" name="tTipo2N" id="tTipo2N" value="">
                  </div>
                </div>
                <div class="col-sm-1">
                  <span>*</span>
                </div>
                <div class="col-sm-5">
                  <button type="button" onclick="expandeCategoria(document.getElementById('Tipo2N').value, 2)"
                    class="btn btn-primary btn-sm">Expand</button>
                  <button type="button" class="btn btn-primary btn-sm">Add</button>
                  <button type="button" class="btn btn-primary btn-sm">Update</button>
                </div>
              </div>
              <!-- Select para cargar categorias nivel 3 -->
              <div class="row mt-1 border-bottom">
                <div class="col-sm-6">
            	      <div id="divDD3N" class="select-editable">
            		       <select id="Tipo3N" name="Tipo3N" onchange="{this.nextElementSibling.value = tomaSeleccion('Tipo3N');}">
                         <option></option>
                       </select>
                       <input type="text" name="tTipo3N" id="tTipo3N" value="">
                    </div>
                </div>
                <div class="col-sm-1">
                  <span>*</span>
                </div>
                <div class="col-sm-5">
                  <button type="button" onclick="expandeCategoria(document.getElementById('Tipo3N').value, 3)"
                    class="btn btn-primary btn-sm">Expand</button>
                  <button type="button" class="btn btn-primary btn-sm">Add</button>
                  <button type="button" class="btn btn-primary btn-sm">Update</button>
                </div>
              </div>
              <!-- Fin Selects para cargar categorias -->
              <script>

                function leeSelectCategorias() {

                  var i3 = document.getElementById("Tipo3N").selectedIndex;
                  var i2 = document.getElementById("Tipo2N").selectedIndex;
                  var i1 = document.getElementById("Tipo1N").selectedIndex;

                  var valor3, valor2, valor1, valor_nuevo;
                  var texto3, texto2, texto1, texto_nuevo;
                  var t3, t2, t1, indice;

                  if (i3>=0) {
                    valor3 = document.getElementById("Tipo3N").options[i3].value;
                    texto3 = document.getElementById("Tipo3N").options[i3].text;
                        t3 = document.getElementById("tTipo3N").value;
                    if (texto3 != t3) {
                      valor_nuevo = valor3;
                      texto_nuevo = t3;
                      nivel = 3;
                    }
                  } else {
                    if (i2>=0) {
                      valor2 = document.getElementById("Tipo2N").options[i2].value;
                      texto2 = document.getElementById("Tipo2N").options[i2].text;
                          t2 = document.getElementById("tTipo2N").value;
                      if (texto2 != t2) {
                        valor_nuevo = valor2;
                        texto_nuevo = t2;
                        nivel = 2;
                      }
                    } else {
                      if (i1>=0) {
                        valor1 = document.getElementById("Tipo1N").options[i1].value;
                        texto1 = document.getElementById("Tipo1N").options[i1].text;
                            t1 = document.getElementById("tTipo1N").value;
                        if (texto1 != t1) {
                          valor_nuevo = valor1;
                          texto_nuevo = t1;
                          nivel = 1;
                          prede = 0;
                        }
                      }
                    }
                  }

                  document.getElementById("id_categoria_e").value = valor_nuevo;
                  document.getElementById("id_categoria_c").value = valor_nuevo;
                  document.getElementById("titulo_c").value = texto_nuevo;
                  document.getElementById("nivel_c").value = nivel;
                  document.getElementById("prede_c").value = prede;

                  return;
                }

                function lanzaSubmitEnlaces() {
                    leeSelectCategorias();
                    seleccionaAction('idFormEnlaces', document.getElementById('id_enlace_e').value);
                    document.getElementById("idFormEnlaces").method = "POST";
                    document.getElementById("idFormEnlaces").submit();
                }
              </script>

              <div class="row mt-1 border-bottom">
                <div class="col-sm-12">
                  <input type="button" value="Save" onclick="lanzaSubmitEnlaces()" class="btn btn-default">
                </div>
              <div>
          </form>
        </div>

      </div>   <!-- row -->
    </div>     <!-- End Main container   ---->

  <!--  =====================================================  -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>
</html>
