<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Enlaces</title>

    <script src="/js/enlaces-scripts.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

      <style type="text/css">
      .select-editable {
       position:relative;
       background-color:white;
       border:solid grey 1px;
       width:200px;
       height:18px;
      }
      .select-editable select {
       position:absolute;
       top:0px;
       left:0px;
       font-size:14px;
       border:none;
       width:200px;
       margin:0;
      }
      .select-editable input {
       position:absolute;
       top:0px;
       left:0px;
       width:180px;
       padding:1px;
       font-size:12px;
       border:none;
      }
      .select-editable select:focus, .select-editable input:focus {
       outline:none;
      }
   </style>

    
  </head>

  <body>

    <nav class="navbar navbar-dark bg-dark">
      <a href="#" class="navbar-brand mx-auto">Enlaces</a>
    </nav>

    <div class="container">
      
      <div class="row">
        <div class="col mt-2">
          <table class="table table-bordered table-hover">
            <thead class="thead-light">
            <tr>
              <th>N</th><th>Categories / Link Title</th>
            </tr>
            </thead>
            <tbody>
            <% for(var i = 0; i < enlaces.length; i++) { %>
      
              <tr  
                onclick="selecciona('<%= enlaces[i].id_enlace_e %>', '<%= enlaces[i].enlace_e %>',
                    '<%= enlaces[i].titulo_e %>', '<%= enlaces[i].id_categoria_e %>', '<%= enlaces[i].id_usuario_e %>')"
              >
                <td>N</td>
                <td>
                  <table border="1">
                    <tr>
                      <td id="<%= 'c_dominio' + i  %>">
                        <script>
                        var t = "<%= enlaces[i].enlace_e %>".match(/(^https:\/\/|^http:\/\/)?([\da-z\.-]+)\.([a-z\.]{2,6})([\/\w\.-]*)(\?[\da-z\.-=&]*)*/);
                        $("<%= '#c_dominio' + i  %>").text(t[2]);
                        </script>
                      </td>
                      <td>Categoria->SubCat1->SubCat2</td>
                    </tr>
                    <tr>
                      <td colspan="2"><%= enlaces[i].titulo_e %></td>
                    </tr>
                  </table>
                </td>
              </tr>
        
            <% } %>
            </tbody>
          </table>
        </div> <!-- 1 col   Table end -->
      </div>
      <div class="row">
        <div class="col mt-2">      <!-- 2 col   Ini Formulario -->
          <!-- Ini Formulario: idFormEnlaces -->
          <form method="get" id="idFormEnlaces" class="form-control">
            <h5 id="tituloOperacion" class="text-right">Add a link</h5>
            <input type="hidden" name="id_enlace_e" id="id_enlace_e" class="form-control">
            <div class="form-group">
              <label for="enlace_e">Link</label>
              <input type="text" name="enlace_e" id="enlace_e" class="form-control" placeholder="e.g. http://www.site.dom">
              <small id="linkHelp" class="form-text text-muted">You should include a protocol (http://, https://,)</small>
            </div>
            <div class="form-group">
              <label for="titulo_e">Title/Description</label>
              <input type="text" name="titulo_e" id="titulo_e" class="form-control">
              <small id="tituloHelp" class="form-text text-muted">Title or descriptive text</small>
            </div>
            <div>  
              <input type="hidden" name="id_usuario_e" id="id_usuario_e">
              <input type="hidden" name="id_categoria_e" id="id_categoria_e">
            </div>
          </form>
        </div> <!-- col 1 -->
        <div class="col mt-2">
          <form id="idFormCategorias">
              <label>Tree of Categories</label>
              <!-- Select para cargar categorias nivel 1 -->
              <div class="row mt-1 border-bottom">
                <div class="col-sm-1">
                  <button type="button" onclick="expandeCategoria('Tipo1N', 1)"
                    class="btn btn-primary btn-sm">Fill</button>
                </div>
                <div class="col-sm-6">
                  <div id="div1N" class="select-editable">
            		      <select id="Tipo1N" name="Tipo1N"
                        onchange = "tomaSeleccion('Tipo1N');"
                      >
                        <option></option>
            		      </select>
                      <input type="text" name="tTipo1N" id="tTipo1N" value="">
            	    </div>
                </div>

                <div class="col-sm-1">
                  <span>*</span>
                </div>
                <div class="col-sm-4">
                  <button type="button" onclick="grabaCategoriaN1()" 
                    class="btn btn-primary btn-sm">Add</button>
                  <button type="button" onclick="modificaTituloCategoriaNN('Tipo1N')" 
                    class="btn btn-primary btn-sm">Update</button>
                </div>
              </div>
              <!-- Select para cargar categorias nivel 2 -->
              <div class="row mt-1 border-bottom ">
                <div class="col-sm-1">
                  <button type="button" onclick="expandeCategoria('Tipo1N', 2)"
                    class="btn btn-primary btn-sm">Fill</button>
                </div>
                <div class="col-sm-6">
            	    <div id="divDD2N" class="select-editable">
            		    <select  id="Tipo2N" name="Tipo2N"
                      onchange = "tomaSeleccion('Tipo2N');" 
                    >
                      <option></option>
                    </select>
                    <input type="text" name="tTipo2N" id="tTipo2N" value="">
                  </div>
                </div>
                <div class="col-sm-1">
                  <span>*</span>
                </div>
                <div class="col-sm-4">
                  <button type="button" onclick="grabaCategoriaN2()" 
                    class="btn btn-primary btn-sm">Add</button>
                  <button type="button" onclick="modificaTituloCategoriaNN('Tipo2N')" 
                    class="btn btn-primary btn-sm">Update</button>
                </div>
              </div>
              <!-- Select para cargar categorias nivel 3 -->
              <div class="row mt-1 border-bottom">
                <div class="col-sm-1">
                  <button type="button" onclick="expandeCategoria('Tipo2N', 3)"
                    class="btn btn-primary btn-sm">Fill</button>
                </div>
                <div class="col-sm-6">
            	      <div id="divDD3N" class="select-editable">
            		        <select id="Tipo3N" name="Tipo3N"
                          onchange = "tomaSeleccion('Tipo3N');"
                        >
                         <option></option>
                       </select>
                       <input type="text" name="tTipo3N" id="tTipo3N" value="">
                    </div>
                </div>
                <div class="col-sm-1">
                  <span>*</span>
                </div>
                <div class="col-sm-4">
                  <button type="button" onclick="grabaCategoriaN3()" 
                    class="btn btn-primary btn-sm">Add</button>
                  <button type="button" onclick="modificaTituloCategoriaNN('Tipo3N')" 
                    class="btn btn-primary btn-sm">Update</button>
                </div>
              </div>
              <!-- Fin Selects para cargar categorias -->
              
              <!-- Botones funciones, nuevo, modificar, limpiar forms  -->
              <div class="row mt-1 border-bottom">
                <div class="col-sm-12">
                  <input type="button" value="New" onclick="nuevoEnlace('idFormEnlaces')" 
                    class="btn btn-default">
                  <input type="button" value="Update" onclick="modificaEnlace('idFormEnlaces')" 
                    class="btn btn-default">
                  <input type="button" value="Del" onclick="borraEnlace('idFormEnlaces')" 
                    class="btn btn-default">
                  <input type="button" value="Clear" 
                    onclick="limpiaformsEnlace(['idFormEnlaces','idFormCategorias'])" 
                    class="btn btn-default">
                  <input type="button" value="List" 
                    onclick="listaEnlaces('idFormEnlaces')" 
                    class="btn btn-default">  
                </div>
              <div>

          </form>
        </div> <!-- col 2 -->
      </div>   <!-- row -->
    </div>     <!-- End Main container   -->

  <!--  =====================================================  -->
  <!-- <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script> -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


</body>
</html>
